@{
    ViewData["Title"] = "Despesas";
}

<div>
    <div>
        <a asp-controller="Despesa" asp-action="CriarDespesa" type="button" class="btn btn-outline-primary">Criar Despesa</a>
        <h1>@ViewData["Title"]</h1>
    </div>
    <table>
    </table>
</div>
